{% extends "base.html "%}

{% block start %}

<form class="col-6 mx-auto my-5 card p-3 shadow-lg">
    <div class="mb-3">
      <h1>Register Page</h1>
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div> 
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    <p>Already have account <a href="/login/">Login</a></p>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>

{% endblock %}