{% extends "base.html "%}

{% block start %}

<div class="container">
    <form class="col-6 mx-auto my-5 card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>update receipe</h1>
        <hr>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Receipe name</label>
          <input name="receipe_name" value="{{receipe.receipe_name}}" type="text" class="form-control">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1"  class="form-label">Receipe Description</label>
          <textarea class="form-control"  name="receipe_description">{{receipe.receipe_description}}</textarea>
        </div>

        <div class="mb-3">
            <label for="exampleInputPassword1"  class="form-label">Receipe Image</label>
            <input name="receipe_image" type="file" class="form-control">
          </div>
        <button type="submit" class="btn btn-success">Update Receipe</button>
      </form>

      
</div>

{% endblock %}