{% extends "base.html" %}

{% block start %}

    <a href="{% url 'send_email' %}" class="btn btn-primary btn-success">Send mail</a>
    <h1>This is django tutorial</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet optio vel saepe nulla quis libero. Nulla labore voluptatum vero mollitia laboriosam veritatis porro numquam dolore? Labore dignissimos adipisci facere maxime nobis, minima numquam minus inventore eligendi voluptatum praesentium ea, totam error, aspernatur qui molestiae quidem. Ducimus omnis quia neque deserunt eveniet aliquam repellat aliquid molestiae sed dolores, ea earum veritatis placeat nam laborum iste suscipit sint modi commodi perspiciatis maiores aspernatur autem vel. Nihil exercitationem ea odio numquam deserunt accusantium ipsa. Pariatur, voluptatem quia ea vero, numquam facere delectus nulla, commodi rem dicta nihil praesentium aut dolorum enim corporis? Pariatur!</p>
    <a href="/receipe/">Receipe</a>
    <a href="/register/">register</a>
    <a href="/login/">Login</a>
    <a href="/admin/">Admin</a>
    <a href="/students/">Studnets data</a>
{% endblock %}
